<% @posts.each do |post| %>
    <tr>
        <td>
            <%= link_to(post.title, contactus_post_path(post)) %>
        </td>
    </tr>
<% end %>
<h2> New Message </h2>
<%= simple_form_for @message do |f| %>
    <div class="group">
        <%= f.input :name ,:label => "姓名"%>
    </div>
    <div class="group">
        <%= f.input :email ,:label => "邮箱"%>
    </div>
    <div class="group">
        <%= f.input :comment ,:label => "问题或者建议"%>
    </div>
    <%= f.submit "提交", data: { disable_with: "Submitting..." } %>
<% end %>
