<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">
        <div class="container-fluid">
            <div class="row">
                <!-- 路径 -->
                <div class="pwd space-30">
                    <p class="left-15" style="margin-bottom:-9px;">首页／方案</p>
                </div>
                <!-- 文章列表 -->
                <div class="row space-50 bg-white " style="margin-left:15px;margin-right:0px;">
                    <% @posts.each do |post| %>
                        <!-- 循环 文章 item -->
                        <div class="row " style="margin: 25px 0px 25px 22px;">
                            <!-- 日期 -->
                            <div class="col-sm-3">
                                <h3 style="font-size:21px;"> <%= post.created_at.strftime("%Y/%m/%d") %></h3>
                            </div>
                            <!-- 题目 -->
                            <div class="col-sm-7 commonlink">
                                <h3 class="post-title" style="font-size:21px;"><%= link_to(post.title, post_path(post)) %></h3>
                            </div>
                            <!-- 访问人数 -->
                            <div class="col-sm-1" >
                                <div class="visit">
                                    <div class="pi-thumbs-up">
                                        <i class="fa fa-eye" , style="color:#878787;"> </i>
                                        <span> <%=  post.impressionist_count(:filter=>:session_hash) %></span>
                                    </div>
                                </div>
                            </div>
                            <!-- 点赞 -->
                            <div class="col-sm-1">
                                <!-- 点赞 -->
                                <div class="upvote">
                                    <%= link_to like_plansintroduction_post_path(post), method: :put do %>
                                        <div class="pi-thumbs-up ">
                                            <i class="fa fa-thumbs-up " ></i>
                                            <span> <%= post.get_upvotes.size %></span>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <hr style="
                            height: 1.5px;
                            background-color: #B0BEC5 !important;
                            width:100%;
                            margin:10px 0px;">
                    <% end %>
                </div>
                <!-- 分页 -->
                <div class="space-20">
                    <%= will_paginate @posts , class: " apple_pagination"%>
                </div>
            </div>
        </div>
        <div class="space-20">
            <hr style="border-top: 1px solid #e6e6e6;">
        </div>
    </div>
</div>
