<h2 style="text-align:center;" class="space-50">订单列表</h2>
<table class="table commonlink">
    <thead>
        <tr>
            <th>ID</th>
            <th>生成时间</th>
            <th>订购者</th>
            <th>订单状态</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= link_to(order.id, admin_order_path(order))%></td>
                <td><%= order.created_at.to_s(:long)%></td>
                <td><%= order.user.email%></td>
                <td><%= order.aasm_state%></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @orders , class: "apple_pagination_white"%>
<div class="space-50">
</div>
