<div class="row  space-50">
    <div class="col-md-12">
        <h2 class="center">订单明细(<%= render_order_paid_state(@order)%>)</h2>
        <%= render "admin/orders/state_option",order: @order%>
        <!-- 订单产品信息 -->
        <table class="table">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>单价</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                <% @product_lists.each do |product_list|%>
                    <tr>
                        <td>
                            <%= product_list.product_name %>
                        </td>
                        <td>
                            <%= product_list.product_price %>
                        </td>
                        <td>
                            <%= product_list.quantity %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <!-- 订单总价 -->
        <div class="total clearfix">
            <span class="pull-right">
                合计：¥ <%= @order.total %>
            </span>
        </div>
        <!-- 订单寄送信息 -->
        <h2 class="center space-50">寄送信息</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        付款信息
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= @order.billing_name %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= @order.billing_phone %>
                    </td>
                </tr>
                <tr>
                    <td>
                        寄送信息
          </td>
                </tr>
                <tr>
                    <td>
                        <%= @order.shipping_name %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= @order.shipping_phone %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= @order.shipping_address %>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="space-50">
        </div>
    </div>
</div>
