<h2 style="text-align:center;" class="space-50">留言列表</h2>
<table class="table commonlink space-30">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>意见或问题</th>
            <th>选项</th>
        </tr>
    </thead>
    <tbody>
        <% @messages.each do |message| %>
            <tr>
                <td>
                    <%= message.id %>
                </td>
                <td>
                    <%= message.name %>
                </td>
                <td>
                    <%= message.email %>
                </td>
                <td>
                    <%= message.comment %>
                </td>
                <td>
                    <%= link_to("删除", admin_message_path(message),method: :delete,:data => { :confirm => "Are you sure?" }) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @messages, class: "apple_pagination_white" %>
<div class="space-50">
</div>
