<div class="container-fluid">
    <div class="row">
        <div class="welcome_p1">
            <%= link_to @intro1.link, target: "_blank" do %>
                <%= image_tag(@intro1.image.ad1, :class => "width-100") %>
            <% end %>
            <% if @intro1.image.present? %>
                <%= image_tag(@intro1.image.ad1, :class => "width-100") %>
            <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "1425701") %>
            <% end %>
        </div>
    </div>
    <div class="row" style="margin-top:6px;">
        <div class="col-md-4" style="padding: 0px 2px;">
            <%= link_to @intro2.link, target: "_blank" do %>
                <%= image_tag(@intro2.image.ad2, :class => "width-100") %>
            <% end %>
        </div>
        <div class="col-md-4" style="padding: 0px 2px;">
            <%= link_to @intro3.link, target: "_blank" do %>
                <%= image_tag(@intro3.image.ad2, :class => "width-100") %>
            <% end %>
        </div>
        <div class="col-md-4" style="padding: 0px 2px;">
            <%= link_to @intro4.link, target: "_blank" do %>
                <%= image_tag(@intro4.image.ad2, :class => "width-100") %>
            <% end %>
        </div>
    </div>
</div>
