<!-- pwd -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="container-fluid">
            <div class="row">
                <div class="pwd" style="margin-top:20px;">
                    <p class="left-15">首页／无线知识</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search -->
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="search-box">
            <div class="container-fluid">
                <div class="row" style="margin-top:80px;">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="search-bar">
                            <%= form_tag search_products_path , :method => :get  do %>
                                <div class="input-group" id="search-id" >
                                    <input type="text" class="search-input" name="q" value="<%= params[:q] %>" placeholder="请输入您的问题...">
                                    <div class="input-group-btn ">
                                        <button class="btn  search-icon" type="submit">
                                            <i class="fa fa-search" style="color:#fff;font-size:26px;"></i>
                                        </button>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main part -->
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="position:relative;left:0px;top:-60px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 show-list" style="height:820px;overflow-y:scroll;direction: ltr;">
                    <div class="space-50">
                    </div>
                    <!-- <div class="show-list-item">
                        <%= link_to("专业无线知识汇总", wirelessinfo_post_path(@post) ) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("无线知识", wirelessinfo_post_path(@post)) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("无线覆盖知识", wirelessinfo_post_path(@post)) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("无线网桥知识", wirelessinfo_post_path(@post)) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("专有名词", wirelessinfo_post_path(@post)) %>
                    </div> -->
                    <% @posts.each do |post| %>
                        <div class="show-list-item">
                            <%= link_to(post.title, wirelessinfo_post_path(post)) %>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-10 show-post" style="height:820px;overflow-y:scroll;direction: ltr;">
                    <div class="post-title-show">
                        <%= @post.title %>
                    </div>
                    <hr style="margin: 8px 42px 18px 42px;">
                    <div class="post-description">
                        <%= raw @post.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-30">
</div>
