<div class="col-md-8 col-md-offset-2">
    <hr style="size:2px" />
    <%= simple_form_for [:admin, @post] do |f| %>
        <!-- 文章标题 -->
        <div class="group">
            <%= f.input :title ,:label => "文章标题"%><br>
        </div>
        <!-- 文章分类 -->
        <div class="group">
            <% Post::CATEGORY.each do |c| %>
                <label>
                    <%= f.radio_button :category, c %>
                    <%= t(c, :scope => "post.category") %>
                </label>
            <% end %>
        </div>
        <br>
        <!-- 文章子分类 -->
        <div class="group">
            <% Post::SUBCATE.each do |c| %>
                <label>
                    <%= f.radio_button :subcate, c %>
                    <%= t(c, :scope => "post.subcate") %>
                </label>
            <% end %>
        </div>
        <br>
        <!-- 文章正文 -->
        <div class="group">
            <%= f.cktext_area :description, ckeditor: { toolbar: 'mini', language: 'zh-CN'} %>
        </div>
        <br>
        <!-- 隐藏 -->
        <div class="group">
            <%= f.input :is_hidden ,:label => "勾选为隐藏"%>
        </div>
        <br>
        <!-- 提交 -->
        <div class="form-actions">
            <%= f.submit "提交", class: 'btn btn-md btn-primary' %>
        </div>
        <br>
    <% end %>
    <div class="space-50">
    </div>
</div>
