<h2> Edit Post </h2>
<%= simple_form_for [:admin, @post] do |f| %>
    <div class="group">
        <%= f.input :title ,:label => "文章标题"%>
    </div>
    <div class="group">
        <% Post::CATEGORY.each do |c| %>
            <label>
                <%= f.radio_button :category, c %>
                <%= t(c, :scope => "post.category") %>
            </label>
        <% end %>
    </div>
    <div class="group">
        <%= f.cktext_area :description, ckeditor: { toolbar: 'mini', language: 'zh-CN'} %>
    </div>
    <div class="group">
        <%= f.input :is_hidden ,:label => "勾选为隐藏"%>
    </div>
    <%= f.submit "提交", data: { disable_with: "Submitting..." } %>
<% end %>
