<h2> Post List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
    <%= link_to("新增文章", new_admin_post_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered commonlink">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th> Options</th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td>
                    <%= post.id %>
                </td>
                <td>
                    <%= render_post_status(post) %>
                    <%= link_to(post.title, admin_post_path(post)) %>
                </td>
                <td>
                    <%= post.category %>
                </td>
                <td>
                    <%= link_to("Edit", edit_admin_post_path(post)) %> |
                    <%= link_to("Delete", admin_post_path(post),method: :delete,:data => { :confirm => "Are you sure?" }) %>
                    <% if post.is_hidden %>
                        <%= link_to("Publish", publish_admin_post_path(post) , :method => :post, :class => "btn btn-xs btn-default") %>
                    <% else %>
                        <%= link_to("Hide", hide_admin_post_path(post) , :method => :post, :class => "btn btn-xs btn-default") %>
                    <% end %>
                    <%= link_to "向上", move_up_admin_post_path(post), method: :patch %>
                    <%= link_to "向下", move_down_admin_post_path(post), method: :patch %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @posts, class: "apple_pagination" %>
