<!-- pwd -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="container-fluid">
            <div class="row">
                <div class="pwd" style="margin-top:20px;">
                    <p class="left-15">首页／网络知识</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search -->
<%= render "common/searchbar" %>
<!-- main part -->
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0  col-xs-offset-0 col-xs-12 afterindex-more" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2 show-list" style="height:820px;">
                    <div class="space-50">
                    </div>
                    <div class="show-list-item">
                        <%= link_to("网络1", netinfo_afterindex_path(:subcate => "网络1") ) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("网络2", netinfo_afterindex_path(:subcate => "网络2")) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("网络3", netinfo_afterindex_path(:subcate => "网络3")) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("网络4", netinfo_afterindex_path(:subcate => "网络4")) %>
                    </div>
                    <div class="show-list-item">
                        <%= link_to("网络5", netinfo_afterindex_path(:subcate => "网络5")) %>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10 show-post commonlink" style="height:820px;">
                    <div class="posts-title-show">
                        <%= @subcate %>
                    </div>
                    <hr style="margin: 25px 42px 25px 42px;">
                    <div class="posts-index ">
                        <% @posts.each do |post| %>
                            <div style="padding-bottom:11px;">
                                <span class="item_time"><%= post.created_at.strftime("%Y/%m/%d") %></span>
                                <span class="item_title"><%= link_to(post.title, post_path(post)) %></span>
                            </div>
                        <% end %>
                    </div>
                    <%= will_paginate @posts , class: " apple_pagination_white"%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-30">
</div>
