<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="container-fluid">
            <div class="row">
                <!-- 路径 -->
                <div class="pwd space-30">
                    <p class="left-15">首页／网络知识</p>
                </div>
                <div class="col-md-8 col-sm-8 sol-xs-12 space-20">
                    <!-- 左上视频广告 -->
                    <div class="cpad box-hover" data-toggle="modal" data-target="#wirelessvideo">
                        <% if @intro13.image.present? %>
                            <%= image_tag(@intro13.image.ad3, :class => "width-100") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "pic579276") %>
                        <% end %>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="wirelessvideo" role="dialog">
                        <div  class="video-position">
                            <%= video_tag @video.content_url.to_s ,:controls =>true ,:autoplay => false %>
                        </div>
                    </div>
                    <!-- 左下广告  -->
                    <div class="cpad box-hover" style="margin-top:10px;">
                        <%= link_to @intro14.link, target: "_blank" do %>
                            <% if @intro14.image.present? %>
                                <%= image_tag(@intro14.image.ad3, :class => "width-100") %>
                            <% else %>
                                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "pic579276") %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 sol-xs-12" style="padding-left:6px;">
                    <!-- 右广告 -->
                    <div class="cpad-v space-20 box-hover">
                        <%= link_to @intro15.link, target: "_blank" do %>
                            <% if @intro15.image.present? %>
                                <%= image_tag(@intro15.image.ad4, :class => "width-100") %>
                            <% else %>
                                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "pic294580") %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row  space-30">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 bg-white wireless-posts-block"  >
        <div class="container-fluid">
            <!-- 网络知识 标题 -->
            <div class="row space-30">
                <div class="col-md-4" style="padding:0px;">
                    <hr class="header-hr">
                </div>
                <div class="col-md-4" style="padding:0px;">
                    <h2 class="header">专业网络知识汇总</h2>
                </div>
                <div class="col-md-4" style="padding:0px;">
                    <hr class="header-hr">
                </div>
            </div>
            <div class="row " style="margin-top:5px;">
                <div class="col-md-12 text-center">
                    <p class="index_more"><%= link_to("查看更多", netinfo_afterindex_path(:subcate => "网络1")  )%></li>
                </p>
            </div>
        </div>
        <!-- 文章 热度 -->
        <div class="row space-30">
            <% @posts.each do |post| %>
                <div class="col-md-6 text-left">
                    <p  class="post-link" data-toggle="collapse" data-target="#<%= post.id %>"><%= post.title%>
                        <!-- <i class="fa fa-plus pull-right" style="color:#e2e2e2;" aria-hidden="true"></i> -->
                        <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fhg0pdxya9j300e00e0i2.jpg" class="pull-right" style="padding:4px 0px;" alt="plus">
                    </p>
                    <div id="<%= post.id %>" class="collapse post-collapse">
                        <p style="margin-bottom:40px;"> <%= (truncate(strip_tags(post.description), :length => 100, :omission => '...')).html_safe %></p>
                        <a href="posts/<%= post.id %>" class="pull-right more"><span style="font-size:13px;">查看详情</span></a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="space-50">
    </div>
</div>
</div>
<!-- hr -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr style="margin:30px 0px 0px 0px;border-top: 1px solid #eeeeee;">
        </div>
    </div>
</div>
