<h2> Intros List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
    <%= link_to("新增首页广告", new_admin_intro_path, class:"btn btn-primary btn-sm")%>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th width="220px;">Image</th>
            <th>Link</th>
            <th>选项</th>
        </tr>
    </thead>
    <tbody>
        <% @intros.each do |intro| %>
            <tr>
                <td>
                    <%= intro.id %>
                </td>
                <td>
                    <% if intro.image.present? %>
                        <%= image_tag(intro.image.url, class: "img-thumbnail") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                    <% end %>
                </td>
                <td>
                    <%= intro.link %>
                </td>
                <td>
                    <%= link_to("Edit",edit_admin_intro_path(intro))%>|
                    <%= link_to("Delete", admin_intro_path(intro),method: :delete,:data => { :confirm => "Are you sure?" }) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
