<h2 style="text-align:center;" class="space-50"> 广告列表</h2>
<div class="pull-right" style="padding-bottom: 20px;">
    <%= link_to("新建广告", new_admin_intro_path, class:"btn btn-primary btn-md ")%>
</div>
<table class="table commonlink">
    <thead>
        <tr>
            <th>ID</th>
            <th width="220px;">图片</th>
            <th>链接</th>
            <th>选项</th>
        </tr>
    </thead>
    <tbody>
        <% @intros.each do |intro| %>
            <tr>
                <td>
                    <%= intro.id %>
                </td>
                <td>
                    <% if intro.image.present? %>
                        <%= image_tag(intro.image.url, class: "img-thumbnail") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                    <% end %>
                </td>
                <td>
                    <%= intro.link %>
                </td>
                <td>
                    <%= link_to("编辑",edit_admin_intro_path(intro))%>
                    <!-- <%= link_to("删除", admin_intro_path(intro),method: :delete,:data => { :confirm => "Are you sure?" }) %> -->
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
