<!-- 主推产品广告 -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="container-fluid">
            <div class="row">
                <div class="pwd space-30">
                    <p class="left-15">首页／产品</p>
                </div>
                <div class="col-md-8 space-20">
                    <div class="cpad">
                        <%= link_to root_path do %>
                            <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fh95eocfahj30g307ojso.jpg" alt="">
                        <% end %>
                    </div>
                    <div class="cpad" style="margin-top:10px;">
                        <%= link_to root_path do %>
                            <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fh95g6nevlj30fz07kjsp.jpg" alt="">
                        <% end %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cpad-v space-20">
                        <%= link_to root_path do %>
                            <img src="https://ww1.sinaimg.cn/large/006tNbRwly1fh95gew1oqj30860fh3zq.jpg" alt="">
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 产品系列 -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="container-fluid">
            <div class="row space-50">
                <div class="col-md-4">
                    <hr class="header-hr">
                </div>
                <div class="col-md-4 ">
                    <h2 class="header">Convolum 系列</h2>
                </div>
                <div class="col-md-4">
                    <hr class="header-hr">
                </div>
            </div>
        </div>
        <!-- aw -->
        <div class="container-fluid">
            <div class="row space-30">
                <h3 class="cp-title left-15">AW系列 <span class="cp-title-2 left-15">性能设计 科技外观</span></h3>
            </div>
            <div class="row space-30">
                <% @productsaw.each do |product| %>
                    <div class="col-xs-6 col-md-3 text-center">
                        <%= link_to product_path(product) do  %>
                            <% if product.photos.present? %>
                                <%= image_tag(product.photos[0].image.thumb.url , class: "show-pic") %>
                            <% else %>
                                <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                            <% end %>
                        <% end %>
                        <p class="bg-white show-slogan product-title"> <%= product.title %> </p>
                        <p class="bg-white show-slogan-2 product-slogan"> <%= product.slogan %> </p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<ul>
    <li><%= link_to("网桥", products_path(:category => "网桥")) %></li>
    <li><%= link_to("POE", products_path(:category => "POE")) %></li>
    <li><%= link_to("AP", products_path(:category => "AP")) %></li>
</ul>
