<h2> ads List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
    <%= link_to("新增首页小广告", new_admin_ad_path, class:"btn btn-primary btn-sm")%>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th width="220px;">Image</th>
            <th>Link</th>
            <th>选项</th>
        </tr>
    </thead>
    <tbody>
        <% @ads.each do |ad| %>
            <tr>
                <td>
                    <%= ad.id %>
                </td>
                <td>
                    <% if ad.image.present? %>
                        <%= image_tag(ad.image.url, class: "img-thumbnail") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                    <% end %>
                </td>
                <td>
                    <%= ad.link %>
                </td>
                <td>
                    <%= link_to("Edit",edit_admin_ad_path(ad))%>|
                    <%= link_to("Delete", admin_ad_path(ad),method: :delete,:data => { :confirm => "Are you sure?" }) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
