<h2 style="text-align:center;" class="space-50"> 视频列表</h2>
<div class="pull-right" style="padding-bottom: 20px;">
    <%= link_to("新建视频", new_admin_video_path, class:"btn btn-primary btn-md ")%>
</div>
<table class="table commonlink">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>选项</th>
        </tr>
    </thead>
    <tbody>
        <% @videos.each do |video| %>
            <tr>
                <td>
                    <%= link_to(video.id, admin_video_path(video)) %>
                </td>
                <td>
                    <%= video.name %>
                </td>
                <td>
                    <%= link_to("编辑",edit_admin_video_path(video))%>
                    <!-- <%= link_to("Delete", admin_video_path(video),method: :delete,:data => { :confirm => "Are you sure?" }) %> -->
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
