<footer class="footer" style="padding-top:2.8%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 " >
                <div class="row footer-layout" style="margin-bottom:2.1%;" >
                    <div class="col-md-2 col-xs-3">
                        <h4>推荐产品</h4>
                        <ul class="list-unstyled">
                            <li><%= link_to("网桥系列", root_path )%></li>
                            <li><%= link_to("AP系列", root_path )%></li>
                            <li><%= link_to("POE交换机", root_path )%></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <h4>服务</h4>
                        <ul class="list-unstyled">
                            <!-- <li><%= link_to("代理商查询", root_path )%></li> -->
                            <li><%= link_to("技术支持", Post.find(1) )%></li>
                            <li><%= link_to("方案资讯", Post.find(2) )%></li>
                            <li><%= link_to("售后政策", Post.find(3) )%></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <h4>关于我们</h4>
                        <ul class="list-unstyled">
                            <li><%= link_to("公司介绍", Post.find(4) )%></li>
                            <li><%= link_to("加入我们", Post.find(5) )%></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <h4> 商务合作</h4>
                        <ul class="list-unstyled">
                            <li><%= link_to("开放招商", Post.find(6) )%></li>
                            <li><%= link_to("采购相关", Post.find(7) )%></li>
                        </ul>
                    </div>
                    <div class="col-md-3  col-xs-4" style="text-align:right">
                        <ul class="list-unstyled">
                            <br>
                            <p>在线服务热线</p>
                            <p class="hotline">
                                4001-888-222
                            </p>
                            <p style="color:#666666;" class="wechat"><i class="fa fa-weixin" aria-hidden="true"></i> 微信公众号</p>
                        </ul>
                    </div>
                    <div class="col-md-1  col-xs-5">
                        <div class="zsy-footer-qrcode" >
                            <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ficfnou72tj30690690sq.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr style="border-top: 1px solid #e6e6e6;">
                <p  class="footer-copy">
                    Copyright ©2017 Convolum All Rights Reserved 蜀ICP备B2-20170706
          </p>
            </div>
        </div>
    </div>
</footer>
