<!DOCTYPE html>
<html>
    <head>
        <title>Convolum后台</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
        <link rel="shortcut icon" href="https://ww1.sinaimg.cn/large/006tKfTcly1fiyebybm0rj301c01c745.jpg">
    </head>
    <body style="background-color: #fff;">
        <div class="container-fluid" >
            <div class="row" style="margin-bottom:60px;">
                <%= render "common/navbar" %>
            </div>
            <div class="row">
                <div class="col-md-2 nav-sidebar">
                    <ul class="list-unstyled" style="max-width: 300px;">
                        <li class="active"><%= link_to("广告",admin_intros_path)%></li>
                        <li class="active"><%= link_to("视频",admin_videos_path)%></li>
                        <li class="active"><%= link_to("文章",admin_posts_path)%></li>
                        <li class="active"><%= link_to("产品",admin_products_path )%></li>
                        <li class="active"><%= link_to("订单",admin_orders_path)%></li>
                        <li class="active"><%= link_to("留言",admin_messages_path)%></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
    <%= render "common/footer" %>
</html>
