<!DOCTYPE html>
<html>
    <head>
        <title>Jdstore 后台</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    </head>
    <body>
        <div class="container-fluid" style="min-height:550px;">
            <div class="row" style="margin-bottom:50px;">
                <%= render "common/navbar" %>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                        <li class="active"><%= link_to("产品",admin_products_path )%></li>
                        <li class="active"><%= link_to("订单",admin_orders_path)%></li>
                        <li class="active"><%= link_to("文章",admin_posts_path)%></li>
                        <li class="active"><%= link_to("留言",admin_messages_path)%></li>
                        <li class="active"><%= link_to("首页大广告",admin_intros_path)%></li>
                        <li class="active"><%= link_to("首页小广告",admin_ads_path)%></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
    <%= render "common/footer" %>
</html>
