<!DOCTYPE html>
<html>
    <head>
        <title>Jdstore 后台</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    </head>
    <body>
        <div class="container">
            <%= render "common/navbar" %>
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                        <li class="active"><%= link_to("产品",admin_products_path )%></li>
                        <li class="active"><%= link_to("订单",admin_orders_path)%></li>
                        <li class="active"><%= link_to("文章",admin_posts_path)%></li>
                        <li class="active"><%= link_to("留言",admin_messages_path)%></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
