<!DOCTYPE html>
<html>
    <head>
        <title>Convolum</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    </head>
    <body>
        <div class="container-fluid" style="min-height:550px;">
            <div class="row" style="margin-bottom:50px;">
                <%= render "common/navbar" %>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                        <li class="active"><%= link_to("公司简介",aboutus_post_path(7))%></li>
                        <li class="active"><%= link_to("发展历程",aboutus_post_path(7))%></li>
                        <li class="active"><%= link_to("荣誉资质",aboutus_post_path(7))%></li>
                        <li class="active"><%= link_to("企业文化",aboutus_post_path(7))%></li>
                        <li class="active"><%= link_to("企业达人",aboutus_post_path(7))%></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
    <%= render "common/footer" %>
</html>
